@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
html { 
  background: url("images/girl-picking-berries.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	text-align: center;
	font-size: 15px;
	font-family: "Sorts Mill Goudy", georgia, serif;
/*	background-color: #ffffff;
	background-image:url(images/girl-picking-berries.png);
	background-repeat: no-repeat;
	background-position: top center;*/
}

header {
	height: 84px;
	clear: both;
	margin-top: 1em;
}

h1 {
	margin: .5em 0 1em 0;
	padding-left: .25em;
	font-size: 10em;
	line-height: 1em;
	font-family: "Oswald", helvetica, sans-serif;
	font-weight: 700;
	color: rgba(247,244,216,.6);
	text-align: left;
	display: block;

}

h2 {
	font-family: "Oswald", helvetica, sans-serif;
	font-weight: 700;
	font-size: 1em;
	text-transform: uppercase;
	padding-bottom: 1em;
}

h5 {
	margin: 2.6em 0 1.4em 0;
	font-size: 1em;
	font-style: italic;
	color: #EF4430;
	display: block;
}

p {
	line-height: 1.4em;
}

ul {
	display: block;
	padding: 0;
}

nav {
	right: 1em;
	margin: 1.5em 1em 0 0;
	display: inline-block;
	position: fixed;
	padding: 0;
	z-index: 1;
}

li {
	margin: 1em 0 1em 0;
	padding: 0em 0 3em 0;
	border-bottom: 1px solid black;
	display: block;
}

h4 {
	font-size: 4em;
	font-weight: 400;
/*	margin: .5em 0 .5em 0;
*/
}

a {
	text-decoration: none;
	color: #e7e4c8;
}

iframe {
	width: 100%;
	padding: 0px;
	margin: 0px;
	vertical-align: bottom;
}

footer {
	background-color: #000;
	height: 7em;
	margin-top: 0px;
}

/*#bannerimage {
	display: inline-block;
	float: left;
	width: auto;
}*/

#logo {
/*	padding-left: 1em;
*/	width: 12em;
	padding-left: 2em;
	float: left;
	display: block;
}

.navli {
    list-style: none;
	display: inline-block;
	margin: 0;
	padding: .3em 1.2em;
	font-size: 1em;
	border-top: 1px solid #e7e4c8;
	border-bottom: 1px solid #e7e4c8;

/*	background-color: rgba(0, 0, 0, .45);
*/}


#bannerimage {
	width: 1280px;
}

#deck {
	width: 60em;
	margin: 0 auto;
	padding: 3.3em 2em;
	position: relative;
	display: inline-block;
}

#intro {
	text-align: left;
	width: 27%;
	/*display: inline-block;*/
	position: left;
/*	background-color: yellow;
*/	float: left;
}

#veglist {
	width: 70%;
	padding-left: 3%;
	display: inline-block;
	text-align: left;
/*	background-color: green;
*/}

#mainsection {
	background-color: white;
	width: 100%;
	padding-bottom: 2em;
}

#footermap {
	margin: 0px;
}

.mapoverlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

.veggie {
	width: 100%;
	display: block;
	float: left;
	border-bottom: 1px solid #000;
	clear: both;
	height: 159px;
	margin-top: .5em;
}

.product {
	width: 10em;
	float: left;
	display: inline;
}

.item {
	display: block;
}

/*.info {
	padding-left: 3em;
}*/

.vegimg {
	margin-right: .5em;
	clear: both;
}

#viewall {
	font-size: .75em;
	font-family: "Oswald", helvetica, sans-serif;
	font-weight: 400;
	color: #fff;
/*	margin-top: 2em;
*/	background-color: #000;
	padding: .75em;
	float: right;
	letter-spacing: .2em;
}

#creditline {
	color: #e7e4c8;
	padding: 2.3em 1em 0 1em;
	line-height: 1.4em;
	margin: 0;
}

#tornedge {
	background-image: url("images/torn-paper-edge.png");
	background-repeat: repeat-x;
	height: 20px;
}

/* visited link */
a:visited {
    color: #e7e4c8;
}

/* mouse over link */
a:hover {
    color: #ffc500;
}

/* selected link */
a:active {
    color: #ffc500;
}

/*mobile nav*/
#mobile-nav{
	display: none;
}

label {
  cursor: pointer;
}
#menu-toggle {
  display: none; /* hide the checkbox */
}
#menu {
  display: none;
}
#menu-toggle:checked + #menu {
  display: block;
}
/*mobile nav ends*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media screen and (max-width: 960px) {

#deck {
	width: 94%;
/*	margin: 0 2%;
*/	padding: 3.3em 3%;
	position: relative;
	display: inline-block;
}

#intro {
	text-align: left;
	width: 28%;
	display: inline-block;
	position: left;
	float: left;
}

#veglist {
	width: 68%;
padding-left: 4%;
text-align: left;
}

@media screen and (max-width: 730px) {

h1 {
	font-size: 6em;
	margin: 1em 0 .6em 0;
}

/* selected link */
a:visited {
    color: #000;
}

a:hover {
	background-color: #e7e4c8;
}

#logo {
/*	padding-left: 1em;
*/	width: 15em;
	padding: 0px;
	float: none;
	display: inline;
	position: center;
	margin-top: 3em;
}

nav {
	right: 0;
}

.navli {
    list-style: none;
	display: inline-block;
	margin-top: 0;
	padding: 1em 1.2em;
	font-size: 1em;
	border: 0px;
}

.navli {
	display: block;
	position: static;
}

#main-nav{
	display: none !important;
}

#mobile-nav{
	display: block;
	position: fixed;
	top:0;
	width: 100%;
	margin: auto;
	padding-bottom: .3em;
}

ul {
	background-color: #fff;
}

label {
	display: block;
  	cursor: pointer;
  	text-align: center;
	padding:1.2em 2em;
	font-size: 1em;
	text-transform: uppercase;
/*	letter-spacing:.07em;
*/	background-color: #fff;
}

#deck {
	width: 80%;
/*	margin: 0 2%;
*/	padding: 3.3em 10%;
	position: relative;
	display: inline-block;
}

#intro {
	text-align: left;
	width: 100%;
	position: left;
	margin-bottom: 3em;
}

#veglist {
	width: 100%;
	text-align: left;
	padding-left: 0px;
}


@media screen and (max-width: 584px) {

.veggie {
	width: 100%;
	height: auto;
	margin-top: 0;
}

#deck {
	width: 90%;
/*	margin: 0 2%;
*/	padding: 3.3em 5%;
	position: relative;
	display: inline-block;
}

#intro {
	text-align: left;
	width: 100%;
	position: left;
	margin-bottom: 3em;
}

#veglist {
	width: 100%;
	text-align: left;
	padding-left: 0px;
}

h4 {
	font-size: 2.5em;
}

h5 {
	margin: 2.6em 0 1em 0;
	}

.info {
	margin-left: 5%;
}

.product {
	width: 100%;
	vertical-align: center;
}

.vegimg {
	width: 25%;
margin-top: 1em;
}


