body {
	background: url("images/sea_serpent_group-light.jpg");
	background-size:cover;
	color:#fff;
	font-family: Diplomata+SC, sans-serif;
	letter-spacing: 3px;
	text-align: center;
}

h1 {
	font-family: Diplomata;
	font-size: 100 px;
}

#slogan {
	font-style: italic;
	font-family: helvetica, sans-serif;
}