@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
html { 
  background: url("images/girl-picking-berries.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	text-align: center;
	font-size: 15px;
	font-family: "Sorts Mill Goudy", georgia, serif;
/*	background-color: #ffffff;
	background-image:url(images/girl-picking-berries.png);
	background-repeat: no-repeat;
	background-position: top center;*/
}

/*header {
	width: 60em;
}*/

h1 {
	margin: 1em 0 1em 0;
	padding-left: .25em;
	font-size: 8em;
	line-height: 1em;
	font-family: "Oswald", helvetica, sans-serif;
	font-weight: 700;
	color: rgba(247,244,216,.6);
	text-align: left;
	display: block;

}

p {

}

ul {
	display: block;
	padding: 0;
}

nav {
	display: inline-block;
	position: absolute;
	padding: 0;
}

li {
	margin: 1em 0 7em 0;
	padding: 0em 0 6.45em 0;
	border-bottom: 1px solid black;
	display: block;
}

/*#bannerimage {
	display: inline-block;
	float: left;
	width: auto;
}*/

#logo {
	width: 14em;
	float: left;
}

.navli {
    list-style: none;
	display: inline-block;
	margin: 0;
	padding: .3em 1.2em;
	color: #f7f4d8;
	font-size: 1em;
	text-decoration: none;
	border: 1px solid #f7f4d8;
}

#bannerimage {
	width: 1280px;
}

#deck {
	width: 60em;
	margin: 0 auto;
	padding-top: 1.5em;
	padding-left: 1em;
	position: relative;
	border-bottom: 0.2em solid #000;
/*	background-color: orange;
*/	display: inline-block;
}

#intro {
	text-align: left;
	width: 15em;
	/*display: inline-block;*/
	position: left;
/*	background-color: yellow;
*/	float: left;
}

#veglist {
	width: 40em;
	padding-left: 1em;
	display: inline-block;
	text-align: left;
/*	background-color: green;
*/}

#mainsection {
	background-color: white;
	width: 100%;
}

.producelistitem {
	/*width: 20em;*/
	display: inline;
	float: left;
}

.product {
	width: 10em;
	float: left;
}

.item {
	display: block;
}
