@import url(http://fonts.googleapis.com/css?family=Homemade+Apple);
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Almendra+Display);

html { 
  background: url("images/sea_serpent_group-light_blue.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color:#000;
	font-family: 'Sorts Mill Goudy', Georgia, serif;
	text-align: center;
	font-size: 16px;
	margin-right: 1em;
	margin-left: 1em;

}

nav {
	display: block;
	margin: 0 auto;
	text-decoration: none;
	font-family: 'Sorts Mill Goudy', Georgia, serif;
	font-style: italic;
}

ul {
	padding: 0em;
}

h1 {
	font-family: 'Almendra Display', Georgia, serif;
	font-size: 8em;
	font-weight: 400;
	line-height: 100px;
	margin: 1em auto .5em auto;
}

/*ul {
	font-family: 'Homemade Apple', serif;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 33px;
	list-style: none;
	padding: 0px;
	display: block;
	margin-top: 20px;
}*/

li {
    list-style: none;
	display: inline-block;
	padding: 5 10px;
	color: #ffa500;
	font-size: 1em;
	text-decoration: none;
}

/*a {
    display: block;
    width: 60px;
}*/

p {
	font-size: 24px;
}

hr {
	width: 300px;
	border: none;
	height: 1px;
	background: black;
}

a {
	text-decoration: none;
}

#bottom {
	color: #ffa500;
	text-decoration: underline;
	font-size: .9em;
	margin: 50px auto 50px auto;
	display: block;
}

/*#fishtypes {
 	list-style: none;
}*/

#slogan {
	font-style: italic;
	font-family: 'Sorts Mill Goudy', Georgia, serif;
	font-size: 20px;
/*	margin-bottom: 30px;*/
	display: block;
}

.maincontent {
	max-width: 70em;
	background-color: #fff;
	margin: 1.5em auto 0 auto;
	padding-top: 3em;
	padding-bottom: 1.25em;
}

.navli {
    list-style: none;
	display: inline-block;
	padding: 0 1.2em;
	color: #ffa500;
	font-size: 1em;
	text-decoration: none;
	border-right: 1px solid #000000;
}

#rightnavli {
    list-style: none;
	display: inline-block;
	padding: 0 1.2em;
	color: #ffa500;
	font-size: 1em;
	text-decoration: none;
}

#intro {
	max-width: 15em;
	font-size: 2.5em;
	letter-spacing: .5px;
	text-align: left;
	margin-top: .75em;
/*	border-left: 1px solid #000000;*/
	padding-left: 1.25em;
	padding-right: 1em;
	float: left;
}

#currentfish {
/*	float: left;*/
	font-size: 1.125em;
	max-width: 300px;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	font-family: 'Homemade Apple', serif;

}

p.introduction:first-letter {
	float: left; color: #000;
	font-size: 75px;
	line-height: 60px;
	padding-top: 8px;
	padding-right: 10px;
	padding-left: 0px;
	font-family: 'Almendra Display', 'Sorts Mill Goudy', serif;
 }

#freshcatch {
	color: #000;
	font-style: italic;
	font-family: 'Sorts Mill Goudy', Georgia, serif;
	font-size: 15px;
	text-align: center;
/*	margin-bottom: 30px;*/
	display: block;
	padding-bottom: 10px;
}

/* visited link */
a:visited {
    color: #ffa500;
}

/* mouse over link */
a:hover {
    color: #ffc500;
}

/* selected link */
a:active {
    color: #ffc500;
}

/*hr {
	width: auto;
}*/